.contactcont {
    display: flex;
    /* border: solid red 2px; */
    width: 99%;
}

.contact {
    /* border: solid blue 3px; */
    display: flex;
    width: 99%;
    justify-content: center;
}

.contactcenter {
    /* border: solid green 2px; */
    width: 80%;
    display: flex;
    align-items: center;
}

.contactpic {
    border: solid pink 2px;
    width: 1200px;
    height: 600px;
    display: flex;
    background-image: url("/Users/v.cochet-hilgenberg/Documents/Site Mahyra/Images/lac.jpg");
    background-size: 100%;
}

.piccolumn {
    border: solid black 2px;
    width: 50%;
    height: 100%;
}
